<%- include('partials/header'); -%>

<header id="banner">
    <div class="banner-title">
        <h2>For your own</h2>
        <h3>Safe storing</h3>
    </div>
</header>

<%- include('partials/footer'); -%>