<%- include('partials/header'); -%>

<form class="search-form">
    <div class="search">
        <div class="search-input">
            <input type="text" class="searchInput" placeholder="Enter acronym">
            <button class="btn">Search</button>
        </div>
    </div>
    <div class="load-spinner load-spinner-none">
        <div class="la-pacman la-dark la-2x">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <div class="search-items">
        
    </div>
</form>

<script>
    const form = document.querySelector(".search-form")
    const searchInput = document.querySelector(".searchInput")
    const searchItems = document.querySelector(".search-items")
    const clipboardButton = document.querySelector(".copy-clipboard-button")
    const load_spinner = document.querySelector(".load-spinner")

    searchInput.value = ""

    form.addEventListener("submit", (e) => {
        e.preventDefault()

        const searchInner = document.querySelectorAll(".search-inner")
        const searchNotFound = document.querySelector(".search-inner-not-found")
        

        if(searchInner.length) {
            searchInner.forEach(element => {
                element.remove()
            })
        }

        if(searchNotFound) {
            searchNotFound.remove()
        }

        let value = searchInput.value
        load_spinner.classList.remove("load-spinner-none")

        searchByAcronym(value).then((result, error) => {
            if(error) {
                console.log(error)
            }

            
            
            if(result.length) {
                result.forEach(element => {
                    createSearchedItem(element) 
                })
            } else {
                searchItems.insertAdjacentHTML("beforeend", `
                    <div class="search-inner-not-found">
                        <span>No records was founded!</span>
                    </div>
                `)
            }

            load_spinner.classList.add("load-spinner-none")
        })
         
    })

    let createSearchedItem = (data) => {
        searchItems.insertAdjacentHTML("beforeend", `
            <div class="search-inner">
                <ul>
                    <li>
                        <label for="acronym_${data._id}">Acronym:</label>
                        <input type="text" id="acronym_${data._id}" value="${data.acronym}" readonly>
                    </li>
                    <li>
                        <label for="username_${data._id}">Username:</label>
                        <input type="text" id="username_${data._id}" value="${data.username}" readonly>
                    </li>
                    <li>
                        <label for="password_${data._id}">Password:</label>
                        
                        <button class="copy-clipboard-button" type="button">
                            <input type="password" id="password_${data._id}" value="This is a mimic password!" readonly>
                            <img src="/copy_clipboard.png" width="20">
                        </button>
                    </li>
                    <li>
                        <label for="website_${data._id}">Website:</label>
                        <input type="text" id="website_${data._id}" value="${data.website}" readonly>
                    </li>
                </ul>
            </div>
        `)
    }

    let searchByAcronym = async (value) => {
        let data = []

        try {
            if(value) {
                const result = await fetch(`/entries/acronym/${value}`, {
                    method: 'GET',
                    headers: { 'Content-Type': 'application/json' }
                })

                data = await result.json()
            } else {
                const result = await fetch(`/entries`, {
                    method: 'GET',
                    headers: { 'Content-Type': 'application/json' }
                })

                data = await result.json()
            }
            
            return data.entries

        } catch (error) {
            console.log(`Emitted error: ${error}`)
        }
    }
</script>

<%- include('partials/footer'); -%>